ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
atconfig
atlocal
autom4te.cache/
build-aux/
config.status
configure
configure.scan
package.m4
*/config.h
#*/config.h.in
src/stamp-h1
*.o
*.log
*.in~
*/.dirstamp
*/.deps/
tests/stamp-h2
tests/libcblas_dgemm
testsuite
testsuite.dir/
zedhat
zedhat-*/
zedhat-*.tar.gz
test_coverage/
