ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
atconfig
atlocal
autom4te.cache/
build-aux/
config.status
configure
configure.scan
package.m4
m4/ax_blas.m4
m4/ax_lapack.m4
m4/ax_check_zlib.m4
*/config.h
*/config.h.in
*.o
*.log
*.in~
*/.dirstamp
*/.deps/
*/stamp-*
tests/libcblas_dgemm
tests/liblapacke_dgels
tests/libumfpack
tests/libcholmod
tests/libmatio
tests/model
tests/readngvol
testsuite
testsuite.dir/
zedhat
zedhat-*/
zedhat-*.tar.gz
test_coverage/
tags
TAGS
*.gcda
*.gcno
ng.ini
ngmesh.ini
ng.opt
zedhat_test.info
